{% extends "base.html" %}
{% load static%}
{%block content%}	
				
		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row"> 
					<div class="col-lg-8 col-12">
						<div class="checkout-form">
							<h2>confirm your order</h2>
							
							<div class="card" >
								<div class="card-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th></th>
												<th class="h6">Product</th>
												<th class="h6">Quantity</th>
												<th class="h6">Unit Price</th>
												<th class="h6">Total Price</th>
											</tr>
										</thead>
										<tbody>
											{%for x in items %}
										  <tr>
											
											<td class="image" width="60" data-title="No"><img src="{{ x.product.img.url }}" alt=""></td>
											<td data-title="No"> <strong>{{x.product.title}}</strong></td>
											<td data-title="No"><strong> {{x.quantity}}</strong></td>
											<td data-title="No"> <strong> <span>{{currency}} </span> {{x.product.unit_price}}</strong></td>
											<td data-title="No"> <strong> <span>{{currency}} </span> {{x.get_total_price}}</strong></td>
											
										  </tr>
										 
										  
										  {% endfor %}
										  
										  
									
										</tbody>
									  </table>
								</div>
							  </div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="order-details">
							<div class="single-widget">
								<h2>Shipping Address</h2>
								<div class="content">
									<ul>
										<li>{{add.street}}</li>
										<li>{{add.city}}</li>
								
									</ul>
								</div>
							</div>
							<!-- Order Widget -->

							<div class="single-widget">
								<h2>CART  TOTALS</h2>
								<div class="content">
									<ul>
										<li>Sub Total<span>{{currency}} {{subTotal}}</span></li>
										<li>Shipping<span>0</span></li>
										<li class="last">Total<span>{{currency}} {{subTotal}}</span></li>
									</ul>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>Payments</h2>
								<div class="content">
									<div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox" required> Cash On Delivery</label>
									
									</div>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Payment Method Widget -->
							<div class="single-widget payement">
								<div class="content">
									<img src="{% static 'images/payment-method.png'%}" alt="#">
								</div>
							</div>
							<!--/ End Payment Method Widget -->
							<!-- Button Widget -->
							<div class="single-widget get-button">
								<div class="content">
									<div class="button">
										<a href="{% url 'placeOrder' %}" class="btn">Place Order</a>
									</div>
								</div>
							</div>
							<!--/ End Button Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Checkout -->
		
		<!-- Start Shop Services Area  -->
		<section class="shop-services section home">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-rocket"></i>
							<h4>Free shiping</h4>
							<p>Orders over $100</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-reload"></i>
							<h4>Free Return</h4>
							<p>Within 30 days returns</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-lock"></i>
							<h4>Sucure Payment</h4>
							<p>100% secure payment</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-tag"></i>
							<h4>Best Peice</h4>
							<p>Guaranteed price</p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Services -->
		
		<!-- Start Shop Newsletter  -->
		<section class="shop-newsletter section">
			<div class="container">
				<div class="inner-top">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 col-12">
							<!-- Start Newsletter Inner -->
							<div class="inner">
								<h4>Newsletter</h4>
								<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="EMAIL" placeholder="Your email address" required="" type="email">
									<button class="btn">Subscribe</button>
								</form>
							</div>
							<!-- End Newsletter Inner -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Newsletter -->
			
	
{% endblock %}